package aoc{{.Year}}day{{.Day}}

import (
	_ "embed"
	"strings"

	"github.com/ysmilda/Advent-of-code/foundation/solver"
)

//go:embed input.txt
var inputFile string

type puzzle struct {
	input []string
}

func GetSolver() solver.Solver {
	return &puzzle{}
}

func (s puzzle) GetTestInput() string {
	return inputFile
}

func (s puzzle) GetDay() int {
	return {{.Day}}
}

func (s puzzle) Part1() (int, error) {
	sum := 0

	return sum, nil
}

func (s puzzle) Part2() (int, error) {
	sum := 0

	return sum, nil
}

func (s *puzzle) Parse(input string) {
	s.input = strings.Split(input, "\n")
}
